{% extends "base.html" %}
    {% block title %}
      About Me
    {% endblock %}
{% block content %}
<div class="row" style="margin:10px;">
    <div class="card col-sm-4" style="padding-top: 10px;">
      <img src="/static/images/Aswin A.jpg" alt="Avatar" style="width:50%">
      <div class="container">
        <h4><b>Aswin A</b></h4> 
        <p style="color: #000;">Senior Software Engineer</p> 
        <p class="card-font">Experienced Software Engineer with high proficiency in Python programming language, Django, Django Rest Framework, Microsoft SQL Server, JavaScript, jQuery, MySQL, MongoDB. Data engineering experience with migrating raw data from AWS S3/Redshift to Google BigQuery and completing related pipelines. Experience in using project management tools such as Jira, Microsoft TFS and messaging platform Slack. Passionate about working with team members, business analysts, project managers to manage and execute the project. Confident problem-solving abilities to overcome glitches with creative solutions that are strategically designed to last long-term. Maintaining and improving existing code bases and peer review code changes.</p>
      </div>
    </div>
    <div class="card col-sm-8" style="padding-top: 20px;">
      <div class="container">
        QBurst
        <hr>
        <ul>
            <li>
                <p style="color: #000;font-size: 15px;">Senior Software Engineer [Feb 2021]</p> 
                <p class="card-font">Data engineering using Google cloud technologies like Cloud Composer, Cloud Functions, GCE, BigQuery, GCS, Cloud SQL. Infrastructure provisioning using Terraform.</p>
            </li>
            <li>
                <p style="color: #000;font-size: 15px;">Software Engineer [Dec 2019 – Jan 2021]</p> 
                <p class="card-font">
                Data engineering with Google Cloud Platform. Development of data pipelines to migrate raw data from AWS S3/Redshift to Google BigQuery. Experience in using technologies like GCS, BigQuery, Apache Airflow(Google Cloud Composer), Terraform, Google Compute Engine, Monitoring, Amazon S3 and Amazon Redshift.
                </p>
            </li>
        </ul>
        Sesame Software Solutions
        <hr>
        <ul>
             <li>
                <p style="color: #000;font-size: 15px;">Junior Software Engineer - Development [Jul 2018 – Nov 2019]</p> 
                <p class="card-font">
                Full stack Python (Django) developer. Software development using frontend & back end technologies such as Python(Django), HTML5, CSS, JavaScript, jQuery, Bootstrap. Worked with databases MongoDB, MS SQL Server, Oracle and MySQL. Application hosting using Apache and mod_wsgi. Working experience with Business Process Management(workflow design) tool Alfresco Activiti.
                </p>
            </li>
            <li>
                <p style="color: #000;font-size: 15px;">Junior Software Engineer - Implementation [Jan 2018 – Jun 2018]</p> 
                <p class="card-font">
                    Data migration using MS SQL Server, Report deployment using SSRS. Web hosting in IIS.
                </p>
            </li>
            <li>
                <p style="color: #000;font-size: 15px;">Software Engineer Trainee - Technical Support [Jun 2017 – Dec 2017]</p> 
                <p class="card-font">
                Techinal support Trainee - worked with Microsoft SQL Server, SQL Server Profiler, Database querying, Debugging, Troubleshooting.
                </p>
            </li>
        </ul>
      </div>
    </div>
</div>
        
{% endblock %}

