    {% extends "base.html" %}
      {% block title %}
        Contact
      {% endblock %}
    {% block content %}
   
        <h2 class="hcolor serif" style="text-align: center;">Contact Details</h2>
        <div class="flip-card center">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p style="color: #000"><img src="/static/images/gmail.png" alt="Avatar" style="width:25%"> aswin6303@gmail.com</p>
              <p style="color: #000"><img src="/static/images/phone.jpeg" alt="Avatar" style="width:25%"> +91 9744678495</p>
              
            </div>
            <div class="flip-card-back">
              <div class="row">
                  <div class="col-sm-8">
                    <h1>Aswin A</h1> 
                    <p>Senior Software Engineer</p> 
                  </div>
                  <div class="col-sm-4">
                    <a href="https://www.linkedin.com/in/aswin-a-133a4b13a/"><img src="/static/images/linkedin.png" alt="Avatar" style="width:75%"> </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
    
    {% endblock %}

